<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Virtual World</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <script type="text/javascript">
        function logout() {
            $.post('/logout').then(document.location = '/auth');
        }
    </script>
</head>
<body>
<button type="submit" onclick="logout()">Logout</button>
<br><br>
<button type="submit" onclick="document.location.href='/simulation'">Start simulation</button>
</body>
</html>