<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Simulation is running!</title>

    <link rel="stylesheet" type="text/css" href="css/buttons.css"/>
    <link rel="stylesheet" type="text/css" href="css/world_simulation.css"/>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <script type="text/javascript" src="js/world_simulation.js"></script>

</head>
<body>
<div>
    <div class="table" id="table"></div>

    <div class="options" id="next-year">
        <button class="button-next" onclick="goToNextYear(document.location)"><span>Go to next year </span></button>
    </div>
</div>

<div class="messages">
    <div id="events">
        <div>
            <p>message</p>
            <p>message</p>
            <p>message</p>
            <p>message</p>
            <p>message</p>
            <p>message</p>
            <p>message</p>
            <p>message</p>
            <p>message</p>
            <p>message</p>
            <p>message</p>
            <p>message</p>
            <p>message</p>
            <p>message</p>
        </div>
    </div>
</div>
</body>
</html>