<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Simulation is running!</title>

    <link rel="stylesheet" type="text/css" href="css/buttons.css"/>
    <link rel="stylesheet" type="text/css" href="css/world_simulation.css"/>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <script type="text/javascript" src="js/world_simulation.js"></script>

</head>
<body>
<div>
    <div class="table" id="table"></div>

    <div class="options">
        <div id="next-year-button"></div>
        <button class="button-out" type="submit" onclick="document.location = '/'"><span>Take a break</span></button>
        <div id="year" style="overflow: auto; clear: both;">

        </div>
        <div id="actions" style="overflow: auto;">

        </div>
    </div>
</div>

<div class="messages">
    <div id="events" style="">

    </div>
</div>
</body>
</html>